@import "utilities.css";
@import "components.css";

@layer main, utilities, components;

* {
  font-family: "Roboto", sans-serif;
  --grey: #f2f2f2;
}

@layer main {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  article {
    width: 200px;
    height: 80px;
  }

  small {
    font-style: italic;
    font-size: 1.2rem;
  }

  legend {
    font-size: 1.7rem;
  }

  button {
    font-size: 1.2rem;
  }
  label {
    font-size: 1rem;
  }

  main {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  form {
    display: grid;
    gap: 1.5rem;
  }

  fieldset {
    border-style: none;
    display: grid;
    gap: 0.5rem;
    grid-column: 1 / 2;
  }

  /* Styles the submit button */
  #post {
    width: 100px;
    height: 50px;
    grid-column: 1 / 3;
  }
}
