@import "utilities.css";
@import "components.css";

@layer main, utilities, components;

* {
  margin: 0;
  padding: 0;
}

@layer main {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  form {
    display: grid;
    gap: 1.5rem;
  }

  fieldset {
    border-style: none;
    display: grid;
    gap: 0.5rem;
    grid-column: 1 / 3;
  }

  /* Styles the submit button */
  #post {
    width: 100px;
    height: 50px;
    grid-column: 2 / 3;
  }
}
