/* ! This sheet controls the state of the input field wether they are valid, invalid etc. */

/* Changes the color on the input field when it's valid */
input[type="number"]:valid {
  background-color: palegreen;
}

input[type="text"]:valid {
  background-color: palegreen;
}

/* Sets the color of the radio button */
input[type="radio"] {
  accent-color: green;
  cursor: pointer;
}

input,
select {
  outline: 0;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
}

label {
  align-items: center;
}

#wine_form {
  background-color: var(--grey);
  padding: 2rem 0 2rem 2rem;
}
